@*
    Contiene los datos de la cuenta, mas los datos de Obligaciones a cancelar, Creditos y Valores Imputados, y Diferencia
    Tambien las vistas parciales de las diferentes grillas, y secciones.
*@
@{
}
<style>
	fieldset {
		margin: 8px;
		border: 1px solid silver;
		padding: 8px;
		border-radius: 4px;
		max-width: 100%;
		margin-top: 8px;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}

	legend {
		padding: 2px;
		margin-top: -22px;
		background: #f3f5f7 !important;
		width: 25%;
		text-align: center;
		font-size: small;
	}
</style>
<div class="row mt-2">
	<div class="col-md-5">
		<div class="input-group input-group-sm mt-1" id="divProveedorSeleccionado">
			<span class="input-group-text fixed-lbl-for-abm-70">Cuenta: </span>
			<input type="text" id="CtaID" class="form-control" style="max-width: 100px;text-align: right;" disabled />
			<input type="text" id="CtaDesc" class="form-control" disabled />
		</div>
	</div>
	<div class="col-md-7">
		<div class="input-group input-group-sm mt-1">
			<span class="input-group-text fixed-lbl-for-abm-100" title="Obligaciones a Cancelar">Obl. a Cancelar: </span>
			<input type="text" id="txtObligACancelar" class="form-control align-right" style="background-color: red; color: white;" disabled />
			<span class="input-group-text fixed-lbl-for-abm-150" title="Créditos y Valores Imputados">Cred. y Val. Imputados: </span>
			<input type="text" id="txtCredYValImputados" class="form-control align-right" style="background-color: dodgerblue; color: white;" disabled />
			<span class="input-group-text fixed-lbl-for-abm-100">Diferencia: </span>
			<input type="text" id="txtDiferencias" class="form-control align-right" style="background-color: forestgreen; color: white;" disabled />
		</div>
	</div>
</div>
<div class="row mt-2">
	<div class="col-6">
		<fieldset>
			<legend>Obligaciones</legend>
			<div class="row" id="divObligacionesParaAgregar">
			</div>
			<div class="row" id="divObligaciones">
			</div>
		</fieldset>
	</div>
	<div class="col-6">
		<fieldset>
			<legend>Créditos y Valores</legend>
			<div class="row" id="divCreditosParaAgregar">
			</div>
			<div class="row" id="divCreditos">
			</div>
		</fieldset>
	</div>
</div>