@model ModalOtroConceptoModel
@{
	var otra = Model.OtrasPercepcionesLista;
}
<style>
	input, label {
		display: block;
		float: left;
	}
</style>
<div class="modal-header">
	<h5 class="modal-title" id="modalCenterTitle"></h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="input-group input-group-sm">
				<div class="col-4 input-group-sm wrapper" style="float:left;margin-right:5px;">
					<span class="fixed-lbl-for-abm-100" style="float: left;text-align:left;">Situación: </span>
					@Html.DropDownListFor(m => m.OtroTributo.ins_id, otra, "Seleccionar...", new { @id = "listaOtroTrib", @class = "form-control activable inputEditable" })
				</div>
				<div class="col-1 input-group-sm" style="float:left;margin-right:5px;">
					<span class="fixed-lbl-for-abm-100" style="float: left;text-align:left;">Subtotal: </span>
					<input type="text" asp-for="OtroTributo.base_imp" class="form-control activable inputEditable" />
				</div>
				<div class="col-1 input-group-sm" style="float:left;margin-right:5px;">
					<span class="fixed-lbl-for-abm-100" style="float: left;text-align:left;">IVA: </span>
					<input type="text" asp-for="OtroTributo.alicuota" class="form-control activable inputEditable" />
				</div>
				<div class="col-1 input-group-sm" style="float:left;margin-right:5px;">
					<span class="fixed-lbl-for-abm-100" style="float: left;text-align:left;">Subtotal+IVA: </span>
					<input type="text" asp-for="OtroTributo.importe" class="form-control activable" disabled style="text-align:right;"/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" onclick="AgregarOtroTributo();">Agregar</button>
	<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
		Cerrar
	</button>
</div>