@model GridCore<gc.infraestructura.Dtos.Productos.InfoProdStkD>
@{
}
<div class="table-responsive text-nowrap table-wrapper-200-full">
	<table class="table table-bordered table-hover" id="tbInfoProdStkD">
		<thead class="table-dark">
			<tr>
				<th style="width:10%;" class="col-header-small align-center">ID</th>
				<th style="width:40%;" class="col-header-small align-center">Depósito</th>
				<th style="width:10%;" class="col-header-small align-center">Stk</th>
				<th style="width:20%;" class="col-header-small align-center">Vencimiento</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				<tr onclick="selectListaInfoProdStkD(this)">
					<td class="align-center">@item.Depo_id</td>
					<td class="align-left">@item.Depo_nombre</td>
					<td class="align-center">@item.Ps_stk</td>
					<td class="align-center">@item.Vto?.ToString("dd/MM/yyyy")</td>
				</tr>
			}
		</tbody>
	</table>
</div>