@model InfoProductoDto
@{
}

<div class="table-responsive text-nowrap table-wrapper-400">
	<table class="table table-bordered table-hover" id="tbListaProducto">
		<thead class="table-dark">
			<tr>

			</tr>
		</thead>
	</table>
</div>
