@model BusquedaProducto
@{
    List<ProductoListaDto> listaVacia = new();
}
<div class="card col-sm-12">
    <form asp-action="Busqueda" asp-controller="producto" asp-area="gestion" id="ctrBusquedaBase" method="post" class="row g-3">
        <div class="input-group input-group-sm">
            <span class="input-group-text">ID:</span>
            <input type="text" class="form-control" asp-for="Busqueda" placeholder="Ingresar ID de Producto, EAN o Id de Proveedor." />
            <button type="button" class="btn btn-sm" id="btnBusquedaBase"><i class="bx bx-search btn-xs text-success"></i> Buscar</button>
            @Html.Hidden("estadoFuncion", false)
        </div>
    </form>

</div>
<partial name="~/areas/gestion/views/producto/busquedaadvance.cshtml" model="@listaVacia" />
