@model List<ProductoListaDto>

<div class="modal" id="busquedaModal" tabindex="-1" role="dialog" aria-labelledby="buscTitulo" data-keyboard="false"
     data-backdrop="static" aria-hidden="true" style="z-index: 999999;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg ">
            <div class="modal-header cabeceraModal">
                <span id="buscTitulo">Busqueda de Productos</span>
                <button type="button" class="close buscAdv mb-1" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
            <div id="msjContenido" class="modal-body">
                <div class="row">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Proveedor</span>
                        <input type="text" class="form-control" name="Rel01" id="Rel01" />
                        @Html.Hidden("Rel01Item")
                        <span class="input-group-text">Rubro</span>
                        <input type="text" class="form-control" name="Rel02" id="Rel02" />
                        @Html.Hidden("Rel02Item")
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="input-group input-group-sm">
                        <div class="form-check form-check-inline form-switch mb-2">
                            <input class="form-check-input" type="checkbox" name="EstadoActivo" id="chkActivos" checked />
                            <label class="form-check-label" for="chkActivos">Activos</label>
                        </div>
                        <div class="form-check form-check-inline form-switch mb-2">
                            <input class="form-check-input" type="checkbox" name="EstadoDiscont" id="chkDisc" />
                            <label class="form-check-label" for="chkDisc">Discontinuos</label>
                        </div>
                        <div class="form-check form-check-inline form-switch mb-2">
                            <input class="form-check-input" type="checkbox" name="EstadoInactivo" id="chkInact" />
                            <label class="form-check-label" for="chkInact">Inactivos</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="input-group input-group-sm">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="ConStock" type="radio" value="true" id="rdConStk" checked>
                            <label class="form-check-label" for="rdConStk">Con Stk</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="ConStock" type="radio" value="false" id="rdSinStk">
                            <label class="form-check-label" for="rdSinStk">Sin Stk</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">BUSCAR</span>
                        <input type="text" class="form-control" name="Search" id="Search" />
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-success btn-sm m-2" id="btnBuscarProd"> <i class="bx bx-ms bx-search"></i><span> Buscar</span> </button>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-12">
                        <div id="divBusquedaAvanzada"></div>
                        @Html.Hidden("pagEstado", false)
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="offset-md-2 col-md-8">
                        <div id="divPaginacionAdv" class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>