@{
    ViewData["Title"] = "Sitio GECONet - Normativas";
}
<h1>@ViewData["Title"]</h1>

<p>Esta sección será utilizada para la presentación de las normas con las cuales se regirá el sistema.</p>
<h1>Normativas del Sistema GECONet Pocket</h1>
<h3>Objetivos</h3>
<p>detalle de los objetivos</p>
<h2>Normativas</h2>
<p>Detalle y descripción de las Normas a aplicar en el sitema.</p>
<ol>
    <li>pauta</li>
    <li>pauta</li>
    <li>pauta</li>
    <li>pauta</li>
    <li>pauta</li>
    <li>pauta</li>
</ol>
