html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

input[type="text"], div,select{
    text-transform: uppercase !important;
}

.espBoton {
    width: 100px;
    margin: 2px;
}

.textoEncabezado {
    font-weight: 600;
    font-size: 1em;
}

.fade.in {
    opacity: 1;
}
/*---CONFIGURACION SOBRE TABLAS----*/
tr.alt {
    background-color: #C0FFC0 !important;
}

tr.sel {
    background-color: #7b82c8;
}

td.corta-linea{
    max-width:150px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

th, td {
    overflow: hidden;
}

.table-wrapper {
    max-height: 500px;
    max-width: 100%;
    overflow: auto;
    /*display: inline-block;*/
}
.table-wrapper-modal {
    max-height: 300px;
    max-width: 100%;
    overflow: auto;
    /*display: inline-block;*/
}

.table-thead, .table-tbody{display:block;  }

.table-tbody-ext {
    max-width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

/*-----FIN CONFIGURACION TABLA----*/


.alinearDerecha {
    justify-content: flex-end;
}

.sinbordefondo {
    background-color: transparent;
    border: 0;
}

.inputEditable {
    border-color: rgb(70, 196, 104);
    text-align: center;
    font-weight: 700;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.table-fontsize {
    font-size: 11px !important;
}

.selected-row > td {
    background-color: lightslategray;
    color: black;
}

.link-noactivo {
    pointer-events: none;
    cursor: default;
}

.cabeceraModal {
    background-color: orangered;
    color: #000;
    height: 40px;
    font-weight: 700;
}

.cabeceraBarra01 {
    background-color: orangered;
    color: #000;
    height: 50px;
    border-radius: 25px 25px 0px 0px;
}

.cabeceraBarra02 {
    background-color: orange;
    color: #000;
    height: 50px;
    border-radius: 0px 0px 25px 25px;
}

.backReadOnly {
    background-color: rgb(251, 255, 195);
}

.ui-front {
    z-index: 9999999 !important;
}

@media screen and (max-width: 768px) {
    .textoEncabezado, .form-check, button[type="button"] {
        font-weight: 500;
        font-size: 0.7em;
    }
}

@media screen and (max-width: 600px) {
    .textoEncabezado, .form-check, button[type="button"] {
        font-weight: 500;
        font-size: 0.6em;
    }
   
}


@media screen and (max-width: 480px) {
    .textoEncabezado, .form-check, button[type="button"] {
        font-weight: 500;
        font-size: 0.5em;
    }
}
@media screen and (max-width: 400px) {
    .textoEncabezado, .form-check, button[type="button"] {
        font-weight: 500;
        font-size: 0.4em;
    }
}
