@model ABMVendedorDatoDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var dato = Model;
}

<div class="row">
    <div class="col-md-12">

        <!--Linea 01-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:100px;">ID </span>
                    <input type="text" asp-for="ve_id" class="form-control" disabled style="width:50px;margin-right:20px;" />
                    <div class="form-check form-check-inline form-switch mb-2">
                        <input class="form-check-input" type="checkbox" asp-for="VeActivo" disabled />
                        <label class="form-check-label" for="VeActivo">Activo</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Linea 02-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:100px;">Ap y Nom </span>
                    <input type="text" asp-for="ve_nombre" class="form-control inputEditable" disabled />
                </div>
            </div>
        </div>
        <!--Linea 03-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">                                      
                    <span class="input-group-text" style="width:100px;">Comisión</span>
                    <input type="text" asp-for="ve_comision" class="form-control inputEditable_r" disabled />
                </div>
            </div>
        </div>
        <!--Linea 04-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:100px;">EMAIL </span>
                    <input type="text" asp-for="ve_mail" class="form-control inputEditable email-preserve-case" style="text-transform: none !important;" disabled />
                </div>
            </div>
        </div>
        <!--Linea 05-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:100px;">CELULAR </span>
                    <input type="text" asp-for="ve_celu" class="form-control inputEditable" maxlength="11" disabled />
                </div>
            </div>
        </div>
        <!--Linea 06-->
       @*  <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:100px;">ID CLIENTE.</span>
                    <input type="text" asp-for="cta_denominacion" class="form-control inputEditable" disabled />
                    @Html.HiddenFor(x => x.cta_id)
                </div>
            </div>
        </div> *@
      
    </div>
</div>