@model ReasignacionModel
@{
	var combo = Model.FamiliaProductos;
}
<div class="row">
	<div class="col-md-8">
		<fieldset>
			<legend>
				Productos Por Familia
			</legend>
			<div class="input-group input-group-sm">
				<span class="input-group-text fixed-lbl-for-abm-70">Familia: </span>
				@Html.DropDownListFor(m => Model.Pg_Id, combo, new { @id = "listaFamilia", @class = "form-control activable" })
				<span class="input-group-text fixed-lbl-for-abm-130">Familia a Reasignar: </span>
				@Html.DropDownListFor(m => Model.Pg_Id, combo, "Seleccionar...", new { @id = "listaFamiliaAReasignar", @class = "form-control activable" })
				<button id="btnAbmAceptar" class="btn btn-success btn-sm" type="button" title="Aceptar" onclick="btnSubmitClick();">
					<i class="bx bx-check-circle"></i>
				</button>
			</div>
			<div id="divGridProductosPorFamilia">
				<div class="table-responsive text-nowrap table-wrapper-200-full">
					<table class="table table-sm mb-0 table-hover" id="tbProductosPorFamilia">
						<thead class="table-dark">
							<tr class="header">
								<th><input name="select_all" value="1" type="checkbox"></th>
								<th class="col-header-small align-center" style="width:15%;">ID</th>
								<th class="col-header-small align-center" style="width:85%;">Descripción</th>
							</tr>
						</thead>
						<tbody>
							@if (Model != null && Model.ProductosPorFamilia != null && Model.ProductosPorFamilia.ListaDatos != null)
							{
								@foreach (var item in Model.ProductosPorFamilia.ListaDatos)
								{
									var nombre = "chk" + item.P_Id;
									<tr>
										<td><input type="checkbox" name=@nombre /></td>
										<td class="align-left">@item.P_Id</td>
										<td class="align-center">@item.P_Desc</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</fieldset>
	</div>
</div>
@section scripts {
	<script type="text/javascript">
	</script>
	<script src="~/js/app/areas/abms/reasignaciondefamilia.js" type="text/javascript"></script>
}