@model ProveedorABMFliaGrupoSelectedModel
@{
}
<div class="row" style="padding-top: 10px;">
	@Html.HiddenFor(x => x.ProveedorGrupo.cta_id)
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">ID: </span>
			<input type="text" asp-for="ProveedorGrupo.pg_id" class="form-control activable" />
		</div>
	</div>
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Familia: </span>
			<input type="text" asp-for="ProveedorGrupo.pg_desc" class="form-control activable" />
		</div>
	</div>
</div>