@{
    Layout = "~/views/shared/_Layout.cshtml";

    string sub = "Cons";
}

<div class="row">
    <div class="col-md-4 col-sm-6">
        <span>Tipo de Cuente</span>
        <select class="form-control" id="tipoCuentaId">
            <option value="">Seleccionar...</option>
            <option value="C">Clientes</option>
            <option value="B">Proveedores de Bienes de Cambio</option>
            <option value="S">Proveedores de Servicio</option>
            <option value="P">Proveedores (Todos)</option>
            <option value="T">Clientes y Proveedores</option>
        </select>
    </div>
    <div class="col-md-8 col-sm-6">
        <span>Buscador de Cuenta</span>
        <partial name="~/areas/controlcomun/views/cuenta/_ctrbuscarccv2.cshtml" model="@sub"></partial>
    </div>
</div>
<div class="row" id="tabsCons" style="display:none">
    <partial name="_n01tabsConsulta"></partial>
</div>

@section scripts {
    <script type="text/javascript">
        var busquedacuentaUrl = "@Url.Action("BusquedaCuenta", "cuenta", new { area = "ControlComun" })";
       
        //se declaran callback para ejecutar funcionalidades externas al control de buscqueda de Cuentas Comerciales
        //estos callback tiene que tener el sufijo correspondiente al control que se desea configurar
        //ej: la variable "callbackSeleccionaCuenta" se le agregará el sufijo o nombre del control
        //en este caso la variable sera: callbackSeleccionaCuentaCons, ya que el sufijo determinado es "Cons".
        callbackSeleccionaCuentaCons = function(){
            $("#tabsCons").show();
        };
    </script>
    <script src="~/js/app/areas/consultas/ConsultaCuentas.js"></script>
    @* <script src="~/js/app/controlcomun/busquedaCCv2.js"></script> *@
}