@model CuentaABMNotaSelectedModel
@{
}
<div class="row" style="padding-top: 10px;">
	@Html.Hidden("Puedo_Editar", Model.Nota.Puedo_Editar)
@* 	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70" style="visibility:collapse;">Usuario: </span>
			<input type="text" asp-for="Nota.Usu_Id" class="form-control activable" style="visibility:collapse;" />
		</div>
	</div> *@
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Nota: </span>
			<input type="text" asp-for="Nota.Nota" class="form-control activable" />
		</div>
	</div>
</div>