@model CuentaABMObservacionesSelectedModel
@{
	var cmb = Model.ComboTipoObs;
}
<div class="row" style="padding-top: 10px;">
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Tipo: </span>
			@Html.DropDownListFor(m => Model.Observacion.to_id, cmb, "Seleccionar...", new { @id = "listaTipoObs", @class = "form-control" })
		</div>
	</div>
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Observación: </span>
			<input type="text" asp-for="Observacion.cta_obs" class="form-control"  />
		</div>
	</div>
</div>