@model CuentaAbmOCSelectedModel
@{
	var tipoCon = Model.ComboTipoContacto;
}
<div class="row" style="padding-top: 10px;">
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Contacto: </span>
			<input type="text" asp-for="OtroContacto.cta_nombre" class="form-control activable" />
		</div>
	</div>
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Tipo: </span>
			@Html.DropDownListFor(m => Model.OtroContacto.tc_id, tipoCon, "Seleccionar...", new { @id = "listaTC", @class = "form-control activable" })
		</div>
	</div>
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Celu: </span>
			<input type="text" asp-for="OtroContacto.cta_celu" class="form-control activable" />
		</div>
	</div>
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Email: </span>
			<input type="text" asp-for="OtroContacto.cta_email" class="form-control activable" />
		</div>
	</div>
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">TE: </span>
			<input type="text" asp-for="OtroContacto.cta_te" class="form-control activable" />
		</div>
	</div>
</div>