@model SectorABMSubSectorSelectedModel
@{
}
<div class="row" style="padding-top: 10px;">
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">ID: </span>
			<input type="text" asp-for="SubSector.Rubg_Id" class="form-control activable"  maxlength="4"/>
		</div>
	</div>
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Sub Sector: </span>
			<input type="text" asp-for="SubSector.Rubg_Desc" class="form-control activable" />
		</div>
	</div>
</div>