@model SectorABMSubSectorModel
@{
}
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="card">
				<div class="card-body mt-1">
					<div class="table-responsive text-nowrap table-wrapper-200-full">
						<table class="table table-sm mb-0 table-hover" id="tbSubSectorEnTab">
							<thead class="table-dark">
								<tr class="header">
									<th class="col-header-small align-center">ID</th>
									<th class="col-header-small align-center">Descripción</th>
									<th style="width:0%; display:none;">sec_id</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.SectorSubSector.ListaDatos)
								{
									<tr onclick="selectRegCli(this, 'tbSubSectorEnTab')" ondblclick="selectRegDbl(this, 'tbSubSectorEnTab')">
										<td class="align-left">@item.Rubg_Id</td>
										<td class="align-left">@item.Rubg_Desc</td>
										<td style="display:none;">@item.Sec_Id</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="divDatosDeSubSectorSelected">
			<div class="row" style="padding-top: 10px;">
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">ID: </span>
						<input type="text" asp-for="SubSector.Rubg_Id" class="form-control activable" />
					</div>
				</div>
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">Sub Sector: </span>
						<input type="text" asp-for="SubSector.Rubg_Desc" class="form-control activable" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

