@model BoxListDto
@{
	var cmbBoxes = Model.ComboBoxes;
}

<div class="col-sm" id="divComboBox" aria-disabled="true">
	<div class="input-group fixed-padding-top">
		<span class="input-group-text fixed-width">Box: </span>
		@Html.DropDownList("id", cmbBoxes, "Seleccionar...", new { @id = "listaBox", @class = "form-control" })
	</div>
</div>

@section scripts {
	<script type="text/javascript">
	</script>
	<script src="~/js/app/areas/ajustedestock/ajdestk.js"></script>
}