<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="emailTo">Para:</label>
            <input type="email" class="form-control" id="emailTo" placeholder="Ingrese el correo del destinatario">
        </div>
        <div class="form-group">
            <label for="emailSubject">Asunto:</label>
            <input type="text" class="form-control" id="emailSubject" placeholder="Ingrese el asunto del correo">
        </div>
        <div class="form-group">
            <label for="emailBody">Mensaje:</label>
            <textarea class="form-control" id="emailBody" rows="5" placeholder="Ingrese el mensaje del correo"></textarea>
        </div>
        <button type="button" class="btn btn-primary mt-3" id="btnEnviarEmail">Enviar</button>
    </div>
</div>