<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-center">
            <div class="input-group input-group-sm">
                <div class="form-check form-check-inline form-switch mb2">
                    <input type="radio" id="rdpdf" name="rdgenera" class="form-check-input" value="P" />
                    <label class="form-check-label" for="rdpdf">PDF</label>
                </div>
                <div class="form-check form-check-inline form-switch mb2">
                    <input type="radio" id="rdtxt" name="rdgenera" class="form-check-input" value="T" />
                    <label class="form-check-label" for="rdtxt">TXT</label>
                </div>
                <div class="form-check form-check-inline form-switch mb2">
                    <input type="radio" id="rdxls" name="rdgenera" class="form-check-input" value="X" />
                    <label class="form-check-label" for="rdxls">XLS</label>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-success" id="btnGenerarFile" disabled>
            <i class="bx bx-play"></i> Generar
        </button>
    </div>
</div>