<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-warning" id="btnArchImprimir">
                <i class="bx bx-printer text-warning"></i> Imprimir
            </button>
        </div>
    </div>
</div>