<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="whatsappTo">Número de Teléfono:</label>
            <input type="text" class="form-control" id="whatsappTo" placeholder="Ingrese el número de teléfono del destinatario">
        </div>
        <div class="form-group">
            <label for="whatsappMessage">Mensaje:</label>
            <textarea class="form-control" id="whatsappMessage" rows="5" placeholder="Ingrese el mensaje"></textarea>
        </div>
        <button type="button" class="btn btn-primary mt-3" id="btnEnviarWhatsApp">Enviar</button>
    </div>
</div>