@model string
@{

}

<div class="row mt-2">
    <div class="col-md-6 col-sm-12">
        <div class="input-group input-group-sm">
            <span class="input-group-text" style="width:50px">Box</span>
            <input type="text" class="form-control backReadOnly" readonly value="@Model" />
        </div>
    </div>    
</div>
