@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/views/shared/_Layout.cshtml";
}
<div class="card">
	<row>
		<input type="text" id="rp_id" style="visibility:hidden" />
		<div style="float:left">
			<h5 class="card-header">Autorizaciones TR</h5>
		</div>
	</row>
</div>

@section scripts {
	<script type="text/javascript">
		
	</script>
	<script src="~/js/app/areas/transferencias/trAutorizacionesLista.js"></script>
}