@model EdicionTipoTransferenciaBancariaModel
@{
}
<div class="col-md-4">
</div>
<div class="col-md-4">
	@Html.HiddenFor(x => x.ctaf_id)
	@Html.HiddenFor(x => x.ctaf_denominacion)
	@Html.HiddenFor(x => x.ban_razon_social)
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-100">Nro. Transf.:</span>
			<input type="text" id="txtNroTransferencia" asp-for="NroTransferencia" class="form-control activable inputEditable" disabled />
		</div>
	</div>
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-100">Fecha: </span>
			@Html.TextBoxFor(x => x.Fecha, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control activable inputEditable", @onchange = "onChangeFecha(this);", disabled = "disabled" })
		</div>
	</div>
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Concepto:</span>
			<input type="text" asp-for="Concepto" class="form-control activable inputEditable" disabled />
		</div>
	</div>
	<div class="row mt-1">
		<div class="input-group input-group-sm">
			<span class="input-group-text fixed-lbl-for-abm-70">Importe:</span>
			<input type="text" asp-for="Importe" class="form-control activable inputEditable" disabled />
		</div>
	</div>
</div>
<div class="col-md-4">
</div>