@model GridCoreSmart<InfoProdLP>

@using X.PagedList.Web.Common
@using gc.infraestructura.Dtos.Productos

@{
    var dataMod = new InfoProdLP();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}
<div class="table-responsive table-wrapper text-nowrap">
    <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head">
        <thead class="table-dark">
            <tr class="header">
                <th class="text-sm-center" scope="col">Lista</th>
                <th class="text-sm-center" scope="col">Precio</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDatos)
            {
                if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                <tr class="@clase">
                    <td class="corta-linea">@item.Lp_desc</td>
                    <td class="text-sm-end">@item.p_pvta</td>
                </tr>
            }            
        </tbody>
    </table>
</div>