@{
    Layout = "~/areas/gestion/views/shared/_LayoutGestion.cshtml";

    var callback = Url.Action("depo", "infoprod", new { area = "pocketppal" });
}

<div class="row mt-3">
    <div class="col-md-12 col-sm-12">
        <div class="input-group input-group-sm">
            <span class="input-group-text" style="width:50px;">DEPO:</span>
            @Html.DropDownList("DepoId", null, new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item" role="presentation" title="BOX LIBRES">
                    <button type="button" id="btnBox" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#boxfree" aria-controls="boxfree" aria-selected="false" tabindex="-1" >
                        <i class="tf-icon bx bx-box me-1"></i><span class="d-none d-sm-block">BOX Libres</span>
                    </button>
                </li>
                <li class="nav-item" role="presentation" title="STK DEPO">
                    <button type="button" id="btnStkD" class="nav-link " role="tab" data-bs-toggle="tab" data-bs-target="#stkd" aria-controls="stkd" aria-selected="true">
                        <i class="tf-icon bx bx-store-alt me-1"></i><span class="d-none d-sm-block">STK D</span>
                    </button>
                </li>

                <li class="nav-item" role="presentation" title="STK VALORIZADO">
                    <button type="button" id="btnStkVal" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#stkval" aria-controls="stkval" aria-selected="false" tabindex="-1">
                        <i class="tf-icon bx bx-store me-1"></i><span class="d-none d-sm-block">STK Val</span>
                    </button>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="boxfree" role="tabpanel">
                    <div class="d-flex justify-content-sm-center">
                        <div class="input-group input-group-sm">
                            <div class="form-check form-check-inline form-switch mb-2">
                                <input class="form-check-input" type="checkbox" name="SoloLibres" id="chkSoloLibres" checked />
                                <label class="form-check-label" for="chkSoloLibres">Solo Libres</label>
                            </div>
                        </div>
                    </div>
                    <div id="gridBoxFree"></div>
                </div>
                <div class="tab-pane fade" id="stkd" role="tabpanel">
                    <div id="gridStkD"></div>
                </div>
                <div class="tab-pane fade" id="stkval" role="tabpanel">
                    <div class="row mt-1">
                        <div class="d-flex d-inline-flex justify-content-between">
                            <div class="input-group input-group-sm">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="concepto" type="radio" value="S" id="rdSectCom" checked>
                                    <label class="form-check-label" for="rdSectCom">Sector Comercial</label>
                                </div>
                            </div>
                            <div class="input-group input-group-sm">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="concepto" type="radio" value="G" id="rdGrRubro">
                                    <label class="form-check-label" for="rdGrRubro">Grupo de Rubros</label>
                                </div>
                            </div>
                            <div class="input-group input-group-sm">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="concepto" type="radio" value="R" id="rdRubro">
                                    <label class="form-check-label" for="rdRubro">Rubros</label>
                                </div>
                            </div>
                            <div class="input-group input-group-sm">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="concepto" type="radio" value="P" id="rdProd">
                                    <label class="form-check-label" for="rdProd">Producto</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="gridStkVal"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var buscarBoxLibres = "@Url.Action("buscarBoxLibres", "infoprod", new { area = "pocketppal" })";
        var buscarDepoStk = "@Url.Action("buscarDepoStk", "infoprod", new { area = "pocketppal" })";
        var buscarDepoStkVal = "@Url.Action("buscarDepoStkVAl", "infoprod", new { area = "pocketppal" })";
        var concepto = "S";

    </script>
    <script src="~/js/app/infoprod/infodepo.js"></script>
}