@using gc.infraestructura.EntidadesComunes.Options
@model AppItem

@{
    Layout = "~/areas/gestion/views/shared/_LayoutGestion.cshtml";
}
<div class="container">
    @{
        await Html.RenderPartialAsync("~/views/shared/_menuprint.cshtml", Model);
    }
   
</div>
