@{
    Layout = "~/areas/gestion/views/shared/_LayoutGestion.cshtml";
}
<div class="row mt-2">
    <div class="input-group input-group-sm">
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="consUL" type="radio" value="true" id="rdULFec" checked>
            <label class="form-check-label" for="rdULFec">UL x Fecha</label>
        </div>
        <span class="input-group-text">Desde:</span>
        <input type="date" id="ulFecD" class="form-control inputEditable" />
        <span class="input-group-text">Hasta:</span>
        <input type="date" id="ulFecH" class="form-control inputEditable" />
        <button type="button" id= "btnBuscarUL" class="btn btn-success btn-sm"><i class="bx bx-search bx-sm"></i></button>
    </div>
</div>
<div class="row">
    <div class="input-group input-group-sm">
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="consUL" type="radio" value="false" id="rdULsAlm">
            <label class="form-check-label" for="rdULsAlm">UL sin almacenar</label>
        </div>
    </div>
</div>
<h4>Listado</h4>
<div class="row">
    <div id="divConsUL"></div>
</div>

@section scripts {
    <script type="text/javascript">
        var consultaULUrl = "@Url.Action("ConsultarUL", "infoprod", new{area="pocketppal"})";
    </script>
    <script src="~/js/app/infoprod/infoul.js"></script>
}