<div class="row">
    <div class="input-group input-group-sm">
        <div class="form-check form-check-inline form-switch mb-0">
            <input class="form-check-input mt-2" type="checkbox" name="signoId" id="chkSigno" />
            <label class="form-check-label" for="chkSigno">Selección del Signo</label>
            <label class="form-label text-success" id="lbSigno"><i class="bx bx-minus bx-lg"></i></label> 
        </div>        
    </div>
</div>