@model RPRAutorizacionPendienteDto
<div class="row">
    <div class="col-sm-12">
        <div class="input-group input-group-sm">
            <span class="input-group-text">Autorización:</span>
            <input type="text" value="@Model.Rp" class="form-control-sm sinbordefondo" readonly />
            <span class="input-group-text">Prov.</span>
            <input type="text" value="@Model.Cta_denominacion" class="form-control-sm sinbordefondo" readonly />
        </div>
    </div>
</div>