@model RPRAutorizacionPendienteDto
<div class="row">
    <div class="col-sm-6">
        <div class="input-group input-group-sm">
            <span class="input-group-text">Auto.:</span>
            <input type="text" value="@Model.Rp" class="form-control " readonly />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group input-group-sm">
            <span class="input-group-text">Prvd.:</span>
            <input type="text" value="@Model.Cta_denominacion" class="form-control " readonly />
        </div>
    </div>
</div>