@model GridCoreSmart<AutorizacionPendienteDto>


<div class="container">
    @*  <div class="row alinearDerecha">
    <a asp-action="index" asp-controller="home" asp-area="" style="width:100px;box-sizing:border-box;" class="btn btn-xs btn-danger mt-3"><i class="bx bx-left-arrow-circle bx-xs"></i> <span> Volver</span></a>
    </div> *@
    <div class="row">
        <partial name="_autopendientegrid" model="@Model" />
    </div>
    <div class="row mb-3">
        <div class="d-flex justify-content-center">
            <button type="button" id="btnContinua01" disabled class="btn btn-success btn-sm m-2"><i class="bx bx-ms bx-right-arrow-alt"></i></button>
        </div>
    </div>
</div>