
@{
    Layout = "~/areas/gestion/views/shared/_LayoutGestion.cshtml";
}

<div class="row mt-3">
    <div class="col-sm-12">
        <a asp-action="CtrlTI_AU" asp-controller="ctrlti" asp-area="pocketppal" asp-route-titId="S" class="btn btn-lg btn-block m-2" style="background-color:darkred;color:#FFF"><span>Entre Sucursal</span></a>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-12">
        <a asp-action="CtrlTI_AU" asp-controller="ctrlti" asp-area="pocketppal" asp-route-titId="D"  class="btn btn-lg btn-block m-2" style="background-color:indianred;color:#FFF"><span>Entre Depositos</span></a>
    </div>
</div>