@model BoxListDto
@{
	var cmbBoxes = Model.ComboBoxes;
}

<div class="col-sm" id="divComboBox1" aria-disabled="true">
	<div class="input-group fixed-padding-top">
		<span class="input-group-text" style="padding-left: 5px;padding-left: 40px;">Box: </span>
		@Html.DropDownList("id", cmbBoxes, "Seleccionar...", new { @id = "listaBox", @class = "form-control" })
	</div>
</div>

@section scripts {
	<script type="text/javascript">
	</script>
	<script src="~/js/app/areas/devolucionaproveedor/devaprov.js"></script>
}