@using gc.infraestructura.EntidadesComunes.ControlComun.CuentaComercial
@model BusquedaCuentaComercial
@{
}

<div class="card col-sm-12">
	<div class="card-body">
        @* <form asp-action="BusquedaCuentaComercial" asp-controller="cuenta" asp-area="controlcomun" id="ctrBusqueda" method="post" class="row g-3"> *@
            <div class="input-group input-group-sm">
                <span class="input-group-text">Cuenta:</span>
                <input type="text" class="form-control" name="Cuenta" id="Cuenta" />
                <button type="button" class="btn btn-sm" id="btnBusquedaBase"><i class="bx bx-search btn-xs text-success"></i> Buscar</button>
                <input type="text" class="form-control" name="RazonSocial" id="RazonSocial" />
                <picture><img /></picture>
                @Html.Hidden("estadoFuncion", false)
            </div>
@*         </form>
 *@	</div>
</div>

@section scripts {
    <script src="~/js/app/controlcomun/busquedacuentacomercial.js" type="text/javascript"></script>
}