@* @model GridCore<AutorizacionTIDto> *@
@{
    Layout = "~/areas/gestion/views/shared/_LayoutGestion.cshtml";
    
}

<div class="row">
    <div class="col-ms-12">
        <div class="input-group input-group-sm text-info">
            <input id="txtTiro" class="form-control" readonly />
            <input id="txtNNro" class="form-control" readonly />
            <input id="txtUsro" class="form-control" readonly />
            <input id="txtFero" class="form-control" readonly />
        </div>
    </div>
</div>
<div id="divGrAUTIPend"></div>

<div class="row mb-3">
    <div class="d-flex justify-content-center" >
        <button type="button" class="btn btn-info btn-sm m-2"><i class="bx bx-ms bx-info-circle"></i></button>

        <button type="button" id="btnContinua01" disabled class="btn btn-success btn-sm m-2"><i class="bx bx-ms bx-right-arrow-alt"></i></button>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var getAUPendientesUrl = "@Url.Action("ObtenerAutorizacionesPendientes", "trint", new { area = "pocketppal" })";
        var validaUsuarioUrl = "@Url.Action("ValidarUsuario", "trint", new { area = "pocketppal" })";
        var trScr02 = "@Url.Action("TiEntreSucBoxRubro", "trint", new { area = "pocketppal" })";        
    </script>

    <script src="~/js/app/ti/ti.js"></script>
}