@using gc.infraestructura.ViewModels
@model ExportDocumentViewModel

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="exportType">Formato de exportación:</label>
                <select class="form-control" id="exportType">
                    @foreach (var type in Model.AvailableExportTypes)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="form-group">
                <label for="exportFileName">Nombre del archivo:</label>
                <input type="text" class="form-control" id="exportFileName" value="@(Model.FileName ?? "Exportacion")">
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="alert alert-info">
                <i class="fas fa-info-circle"></i> Los datos se exportarán en el formato seleccionado. Para el formato PDF se usará la plantilla de reporte predeterminada.
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="export-options">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="includeHeaders" checked>
                    <label class="form-check-label" for="includeHeaders">
                        Incluir encabezados
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" id="includeFooters" checked>
                    <label class="form-check-label" for="includeFooters">
                        Incluir pies de página
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
