<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GecoNet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            @if (User!= null && User.Identity!=null && User.Identity.IsAuthenticated)
            {
                <!-- Módulos -->
                @await Component.InvokeAsync("MenuPpal")

                @* <partial name="_loginAuth" /> *@
                <!-- User -->
                <partial name="_loginAuthUser" />
            }
            else
            {
                <partial name="_loginBlank" />
            }
        </div>
    </div>
</nav>


