@{
	var user = User.Claims.First(c => c.Type.Contains("name")).Value;
	var email = User.Claims.First(c => c.Type.Contains("email")).Value;
	var nombre = User.Claims.First(c => c.Type.Contains("nya")).Value;
	var menuList = ViewData["PermisosMenuPorUsuario"] as List<UsuarioMenu>;
	var menuList2 = ViewBag.PermisosMenuPorUsuario as List<UsuarioMenu>;
}

<!-- Módulos -->
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="javascript:void(0)">Cuentas</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="javascript:void(0)">Productos</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="javascript:void(0)">Movimientos Stk</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Compras
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			@* @if (menuList.Exists(x => x.mnu_id == 2))
			{
			<li><a asp-action="RPRAutorizacionesLista" asp-controller="compra" asp-area="Compras" id="btnRprAutorizacionesLista" class="dropdown-item"><span>RPR Autorizaciones</span></a></li>
			} *@
			<li><a asp-action="RPRAutorizacionesLista" asp-controller="compra" asp-area="Compras" id="btnRprAutorizacionesLista" class="dropdown-item"><span>RPR Autorizaciones</span></a></li>
			<li><a asp-action="TRAutorizacionesLista" asp-controller="transferencia" asp-area="Compras" id="btnTrAutorizacionesLista" class="dropdown-item"><span>TR Autorizaciones</span></a></li>
			<li><a asp-action="RemitosTransferidosLista" asp-controller="remito" asp-area="Compras" id="btnRemitosTransfePendLista" class="dropdown-item"><span>Remitos Transferidos Pendientes</span></a></li>
			<li>
				@* <a class="dropdown-item" href="#"> Ingreso de stock &raquo; </a> *@
				<a class="dropdown-item" href="#"> Ingreso de stock <i class='bx bxs-chevrons-right'></i> </a>
				<ul class="submenu dropdown-menu">
					<li><a asp-action="NecesidadesDeCompra" asp-controller="ndecypi" asp-area="Compras" id="btnNecesidadesDeCompra" class="dropdown-item"><span>Necesidades de Compra</span></a></li>
					<li><a asp-action="PedidosInternos" asp-controller="ndecypi" asp-area="Compras" id="btnPedidosInternos" class="dropdown-item"><span>Pedidos Internos</span></a></li>
				</ul>
			</li>
			<li><a asp-action="AjustesDeStock" asp-controller="ajustedestock" asp-area="Compras" id="btnAjusteCRUD" class="dropdown-item"><span>Ajustes de Stock</span></a></li>
			<li><a asp-action="DevolucionesAProveedor" asp-controller="devolucionaproveedor" asp-area="Compras" id="btnDevAProv" class="dropdown-item"><span>Devolución a Proveedor</span></a></li>
			<li><a class="dropdown-item" href="javascript:void(0)">Próximamente...</a></li>
		</ul>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="javascript:void(0)">Ventas</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="javascript:void(0)">Tesorería</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="javascript:void(0)">Contabilidad</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownHerramientas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Herramientas
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbarDropdownHerramientas">
			<li><a asp-action="Index" asp-controller="abmproducto" asp-area="ABMs" id="btnAbmProductos" class="dropdown-item"><span>Productos</span></a></li>
			<li><a asp-action="Index" asp-controller="abmcliente" asp-area="ABMs" id="btnAbmClientes" class="dropdown-item"><span>Clientes</span></a></li>
			<li><a asp-action="Index" asp-controller="abmproveedor" asp-area="ABMs" id="btnAbmProveedores" class="dropdown-item"><span>Proveedores</span></a></li>
			<li><a asp-action="Index" asp-controller="abmsector" asp-area="ABMs" id="btnAbmSectores" class="dropdown-item"><span>Sectores</span></a></li>
			<li><a asp-action="ReasignacionDeFamilia" asp-controller="abmproveedor" asp-area="ABMs" id="btnAbmReasignacionDeFamilia" class="dropdown-item"><span>Reasignación de Familia</span></a></li>
			<li><a asp-action="ReasignacionDeRubro" asp-controller="abmsector" asp-area="ABMs" id="btnAbmReasignacionDeRubro" class="dropdown-item"><span>Reasignación de Rubro</span></a></li>
			<li><a asp-action="Index" asp-controller="menues" asp-area="usuarios" id="btnmenues" class="dropdown-item"><span>Menues</span></a></li>
		</ul>
	</li>
</ul>
<!-- User -->
<li class="nav-item navbar-dropdown dropdown-user dropdown">
	<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
		<div class="avatar avatar-online">
			<img src="~/img/avatars/avatar.png" alt="avatar" class="w-px-40 h-auto rounded-circle" />
		</div>
	</a>
	<ul class="dropdown-menu dropdown-menu-end">
		<li>
			<a class="dropdown-item" href="#">
				<div class="d-flex">
					<div class="flex-shrink-0 me-3">
						<div class="avatar avatar-online">
							<img src="~/img/avatars/avatar.png" alt="avatar" class="w-px-40 h-auto rounded-circle" />
						</div>
					</div>
					<div class="flex-grow-1">
						<span class="fw-medium d-block">@nombre</span>
						<small class="text-muted">[rol]</small>
					</div>
				</div>
			</a>
		</li>
		<li>
			<div class="dropdown-divider"></div>
		</li>
		<li>
			<a class="dropdown-item" href="#">
				<i class="bx bx-user me-2"></i>
				<span class="align-middle">Perfil</span>
			</a>
		</li>
		<li>
			<a class="dropdown-item" href="#">
				<i class="bx bx-cog me-2"></i>
				<span class="align-middle">Configuraciones</span>
			</a>
		</li>
		<li>
			<div class="dropdown-divider"></div>
		</li>
		<li>
			<a class="dropdown-item" asp-action="logout" asp-controller="token" asp-area="seguridad">
				<i class="bx bx-log-out-circle me-2"></i>
				<span class="align-middle">Salir</span>
			</a>
		</li>
	</ul>
</li>
<!--/ User -->
