@model string
@{
    string titulo = string.Empty;
    if(string.IsNullOrEmpty(Model)){
        titulo = "Título no especificado. En la Action Index especificar ViewData[\"Titulo\"] = \"TITULO DE LA VISTA\" ";
    }
    else
    {
        titulo = ViewData["Titulo"].ToString();
    }
}
<style>
    .titulo-modulo-tarjeta {
        background-color: #ffb81f; /* Color de fondo */
        padding: 5px 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
        /* margin-bottom: 10px; */
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }

        .titulo-modulo-tarjeta h4 {
            margin: 0;
            font-size: 1.1em;
            color: #333; /* Color del texto */
            line-height:28px;
            display:flex;
            align-items:center;
        }

    .logoCAsvg {
        width: 28px;
        height: 28px;
        margin-right: 8px;
    }
</style>


<div class="titulo-modulo-tarjeta">
   @*  <i class='bx bx-package' style="margin-right: 10px;"></i> *@
   <img src="~/img/Circulo CA.svg" alt="CA" class="logoCAsvg" />
    <h4 class=".titulo-modulo-tarjeta">@titulo</h4>
</div>
