@model string
@{
    string titulo = string.Empty;
    if(string.IsNullOrEmpty(Model)){
        titulo = "Título no especificado. En la Action Index especificar ViewData[\"Titulo\"] = \"TITULO DE LA VISTA\" ";
    }
    else
    {
        titulo = ViewData["Titulo"].ToString();
    }
}
<style>
   
    .logoCAsvg {
        width: 28px;
        height: 28px;
        margin-right: 8px;
    }

   
</style>

<div class="filter-golden">    
    <div class="filter-golden-header filter-golden-header-inline">
        <img src="~/img/Circulo CA.svg" alt="CA" class="logoCAsvg" /> 
        <h4>@titulo</h4>
    </div>
</div>
@* <div class="titulo-modulo-tarjeta">
   <img src="~/img/Circulo CA.svg" alt="CA" class="logoCAsvg" />
    <h4 class=".titulo-modulo-tarjeta">@titulo</h4>
</div> *@
