@model string

@{
    string nombreControl = Model;
}

<div class="row mt-2" id="controlCta@(nombreControl)" style="display:none;">
    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text">Cuenta: </span>
            <input type="text" id="cuentaId@(nombreControl)" class="form-control" style="width:10%;" />@*aca*@

            @*  <button type="button" class="btn btn-icon btn-outline-primary" id="btnBuscarCCv2@(nombreControl)" title="Buscar cuenta comercial">
                <span class="tf-icons bx bx-search"></span>
            </button> *@
            <input type="text" class="form-control" style="width: 50%;" id="rrss@(nombreControl)" readonly />@*aca*@
            <i class="bx bx-user bx-md" id="iconTipoCCv2@(nombreControl)"></i> @*aca*@
            <input type="hidden" id="controlConsultaCambio@(nombreControl)" value="false" />
        </div>
    </div>
</div>

<script>

    function AsignaDatosCuenta@(nombreControl)()
    {
        cuentaCCv3@(nombreControl) = consCta;
        rrssSeleccionada@(nombreControl) = consRrss;
        provIdSeleccionado@(nombreControl) = consProv;


        if(provIdSeleccionado@(nombreControl)==="C"){
            $("#iconTipoCCv2@(nombreControl)").addClass("text-success");
        }
        else if(provIdSeleccionado@(nombreControl)==="B"){
            $("#iconTipoCCv2@(nombreControl)").addClass("text-info");
        }
        else if(provIdSeleccionado@(nombreControl)==="P"){
            $("#iconTipoCCv2@(nombreControl)").addClass("text-danger");
        }
        else{
            $("#iconTipoCCv2@(nombreControl)").addClass("text-secondary");
        }
        $("#cuentaId@(nombreControl)").val(consCta);
        $("#rrss@(nombreControl)").val(consRrss);

        //muestro el control
         $("#controlCta@(nombreControl)").show("fast");
    }

    function inicializaCtrl@(nombreControl)(){
        $("#cuentaId@(nombreControl)").val("");
        $("#rrss@(nombreControl)").val("");
        cuentaCCv3@(nombreControl)= "";
        rrssSeleccionada@(nombreControl) = "";
        provIdSeleccionado@(nombreControl) = "";

        $("#controlCta@(nombreControl)").hide();
    }

</script>