@model string

@{
    string nombreControl = Model;
}

<div class="row mt-2" id="controlCta@(nombreControl)" style="display:none;">
    <div class="col-md-6 col-sm-12 m-0">
        <div class="input-group">
            <span class="input-group-text">Cuenta: </span>
            <input type="text" id="cuentaId@(nombreControl)" class="form-control"  readonly />@*aca*@
        </div>
    </div>
    <div class="col-md-6 col-sm-12 m-0">
        <div class="input-group">
            <input type="text" class="form-control text-truncate"  id="rrss@(nombreControl)" readonly />@*aca*@
            <i class="bx bx-user bx-md" id="iconTipoCCv2@(nombreControl)"></i> @*aca*@
            <input type="hidden" id="controlConsultaCambio@(nombreControl)" value="false" />
        </div>
    </div>
</div>

<script>

    function AsignaDatosCuenta@(nombreControl)()
    {
        cuentaCCv3@(nombreControl) = consCta;
        rrssSeleccionada@(nombreControl) = consRrss;
        tipoSeleccionado@(nombreControl) = consTipo;


        if(tipoSeleccionado@(nombreControl)==="C"){
            $("#iconTipoCCv2@(nombreControl)").addClass("text-success");
        }
        else {
            $("#iconTipoCCv2@(nombreControl)").addClass("text-danger");
        }

        $("#cuentaId@(nombreControl)").val(consCta);
        $("#rrss@(nombreControl)").val(consRrss);

        //muestro el control
         $("#controlCta@(nombreControl)").show("fast");
    }

    function inicializaCtrl@(nombreControl)(){
        $("#cuentaId@(nombreControl)").val("");
        $("#rrss@(nombreControl)").val("");
        cuentaCCv3@(nombreControl)= "";
        rrssSeleccionada@(nombreControl) = "";
        tipoSeleccionado@(nombreControl) = "";

        $("#controlCta@(nombreControl)").hide();
    }

</script>