<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="tabAAJ" data-bs-toggle="tab" data-bs-target="#aajTab" type="button" role="tab" aria-controls="aajTab" aria-selected="true">Asientos de Ajuste</button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="aajTab" role="tabpanel" aria-labelledby="tabAAJ">
                    <div id="divAaj" class="row mt-2">
                        <!-- Aquí se cargarán los asientos de ajuste -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>