@model BuscarCuentaDto
@{
	Layout = "~/views/shared/_Layout.cshtml";
	var depositos = Model.ComboDeposito;
}

<style>
	fieldset {
		margin: 8px;
		border: 1px solid silver;
		padding: 8px;
		border-radius: 4px;
	}
</style>

<div class="card">
	<row>
		@* <partial name="~/areas/controlcomun/views/cuentacomercial/_ctrBuscarCC.cshtml" /> *@
		<div style="float:left">
			<fieldset>
				<legend>
					<h5>Nueva Autorización RP</h5>
				</legend>
				<partial name="~/areas/controlcomun/views/cuentacomercial/_ctrBuscarCC.cshtml" />
				<div id="sectionNuevaAutorizacionRP">
					<fieldset>
						<legend>
							<h5>Comprobantes de RP</h5>
						</legend>
						<row>
							<div class="col-12">
								<div class="input-group">
									<span class="input-group-text">Tipo: </span>
									<div id="divTiposComptes">
									</div>
									<span class="input-group-text">N°: </span>
									<input type="text" id="txtNroCompte" class="form-control" />
									<span class="input-group-text">Fecha: </span>
									<input type="date" id="dtpFechCompte" class="form-control" />
									<span class="input-group-text">Monto: </span>
									<input type="number" id="txtMonto" class="form-control" />
									<button type="button" class="btn btn-icon btn-success" style="margin-left:5px;" id="btnNuevoCompteDeRP">
										<span class="tf-icons bx bx-plus-circle"></span>
									</button>
									<button type="button" class="btn btn-icon btn-danger" style="margin-left:5px;" id="btnEliminarCompteDeRP">
										<span class="tf-icons bx bx-trash"></span>
									</button>
									<button type="button" class="btn btn-icon btn-success" style="margin-left:5px;" id="btnVerCompteDeRP">
										<span class="tf-icons bx bx-detail"></span>
									</button>
								</div>
							</div>
						</row>
						<div id="divComptesDeRPGrid">
						</div>
					</fieldset>
					<fieldset>
						<legend>
							<h5>Autorización</h5>
						</legend>
						<row>
							<div class="col-12">
								<div class="input-group mb-3">
									<span class="input-group-text">Nota Autorización: </span>
									<input type="text" @* asp-for="Cuenta" *@ class="form-control" />
								</div>
							</div>
						</row>
						<row>
							<div class="col-12">
								<div class="input-group">
									<span class="input-group-text">Depósito: </span>
									<div>
										@Html.DropDownList("id", depositos, "Seleccionar...", new { @class = "form-control" })
									</div>
									<span class="input-group-text">Turno: </span>
									<input type="date" @* asp-for="Cuenta" *@ class="form-control" />
									<input type="checkbox" name="checkbox" id="checkbox_id" value="value">
									<label for="checkbox_id">Poner en Curso</label>

								</div>
							</div>
						</row>
					</fieldset>
				</div>
			</fieldset>
		</div>
	</row>
</div>


@section scripts {
	<script type="text/javascript">
		var tipoCuenta = "B";
		var seccionEnVista = "#sectionNuevaAutorizacionRP";
		var vistaParcial = "_rprAutoCargaComptes";
		var CargarComptesDeRPUrl = "@Url.Action("CargarComprobantesDeRP", "compra", new { area = "Compras" })";
		var buscarCuentaUrl = "@Url.Action("BuscarCuentaComercial", "compra", new { area = "Compras" })";
						var buscarTiposComptesUrl="@Url.Action("ComboTiposComptes", "compra", new { area = "Compras" })";
	</script>
	<script src="~/js/app/controlcomun/busquedacuentacomercial.js"></script>
}