html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

activable {
}

.content-editable-td {
    text-align: right !important;
    padding: 0.325rem 0.30rem !important;
    border-style: inset !important;
    border-width: medium !important;
}

input.form-control, select.form-control {
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

.form-control:focus {
    outline: none;
    border-color: #e96691;
    box-shadow: 0 0 10px #e96691;
}

span.input-group {
    width: 50px;
    font-size: 0.7em;
}

table > tbody > tr > td {
    font-size: 11px !important;
}

table > thead > tr > th {
    font-size: 10px !important;
}

.table-fontsize {
    font-size: 11px !important;
}

/*---CONFIGURACION SOBRE TABLAS----*/
tr.alt {
    background-color: #C0FFC0; /*!important**/
}

tr.sel {
    background-color: #7b82c8;
}

td.corta-linea {
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.alinearDerecha {
    justify-content: flex-end;
}

.sinbordefondo {
    background-color: transparent;
    border: 0;
}

.inputEditable {
    border-color: rgb(70, 196, 104);
    text-align: left;
    font-weight: 700;
}

.inputEditable_r {
    border-color: rgb(70, 196, 104);
    text-align: right;
    font-weight: 700;
}


/* VER COMO HACER PARA QUE APLIQUEN ESTOS ESTILOS EN TABLA */
.estados {
    border-left: 5px solid #00ff00;
    text-align: left;
}

.estadon {
    border-left: 5px solid #0000ff;
    text-align: left;
}

.estadod {
    border-left: 5px solid #ff0000;
    text-align: left;
}
/*---------------------------------------------------------*/
.selected-row > td {
    background-color: lightslategray;
    color: black;
}

.selectedEdit-row > td {
    background-color: firebrick;
    color: black;
}


fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-center {
    text-align: center !important;
    align-content: center !important;
}

.custom-lbl {
    font-weight: 500;
    font-style: normal;
}

.font-bold {
    font-weight: bold;
}

.fixed-width-50 {
    width: 50px;
}

.fixed-width-75 {
    width: 75px;
}

.fixed-width-80 {
    width: 80px;
}

.fixed-width {
    width: 100px;
}

.fixed-width-130 {
    width: 130px;
}

.fixed-width-150 {
    width: 150px;
}

.fixed-padding-top {
    padding-top: 5px;
}

.fixed-font-size {
    font-size: small;
    width: 96%;
}

.fixed-font-size-xmall {
    font-size: x-small;
    width: 96%;
}

/*para desactivar la grilla*/
.disable-table-rows {
    /*filter: blur(1px);*/
    pointer-events: none;
}

.table-wrapper-fixed-head thead th {
    position: sticky;
    top: 0px;
}


.table-wrapper-full-width {
    max-height: 500px;
    max-width: 100%;
    overflow: auto;
}

.table-wrapper {
    max-height: 500px;
    max-width: 100%;
    overflow: auto;
}

.table-wrapper-500 {
    max-height: 500px;
    max-width: 98%;
    overflow: auto;
}

.table-wrapper-400 {
    max-height: 400px;
    max-width: 98%;
    overflow: auto;
}

.table-wrapper-300 {
    max-height: 300px;
    max-width: 98%;
    overflow: auto;
}

.table-wrapper-700 {
    max-height: 700px;
    max-width: 98%;
    overflow: auto;
}

.table-wrapper-300-full-width {
    max-height: 300px;
    max-width: 100%;
    overflow: auto;
}

.table-wrapper-200 {
    max-height: 200px;
    max-width: 98%;
    overflow: auto;
}

.table-wrapper-100-full {
    max-height: 100px;
    max-width: 100%;
    overflow: auto;
}

.table-wrapper-200-full {
    max-height: 200px;
    max-width: 100%;
    overflow: auto;
}

.table-wrapper-100 {
    max-height: 100px;
    max-width: 98%;
    overflow: auto;
}

.table-wrapper-xs {
    max-height: 270px;
    max-width: 98%;
    overflow: auto;
}

.table-fixed-header {
    position: sticky;
    top: 0px;
}

.table-wrapper-modal {
    max-height: 300px;
    max-width: 100%;
    overflow: auto;
}

.jstree-checkbox {
    margin-right: 5px;
}

/*.table-thead, .table-tbody {
    display: block;
}

.table-tbody-ext {
    max-width: 90%;
    overflow-y: auto;
    overflow-x:  hidden;
}*/


.tiny-row {
    padding: 0.325rem 0.30rem !important;
}

.table:not(.table-dark) th {
    color: #efefef;
}

.col-header-small {
    text-wrap: pretty;
    font-size: 8px !important;
    font-weight: 900;
    color: #e1e4e8;
}

.col-header-x-small {
    text-wrap: pretty;
    font-size: 7px !important;
    font-weight: 900;
    color: #e1e4e8;
}
/*Hide Arrows/Spinners from input type number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .dropdown-menu .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}
/* ============ small devices .end// ============ */


.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.ui-front {
    z-index: 9999999 !important;
}

.fixed-lbl-for-abm-50-nodisp {
    width: 50px;
    text-align: right;
}

.fixed-lbl-for-abm-60-nodisp {
    width: 60px;
    text-align: right;
}

.fixed-lbl-for-abm-70-nodisp {
    width: 70px;
    text-align: right;
}

.fixed-lbl-for-abm-20 {
    width: 20px;
    display: block;
    float: right;
    text-align: right;
}

.fixed-lbl-for-abm-30 {
    width: 30px;
    display: block;
    float: right;
    text-align: right;
}

.fixed-lbl-for-abm-50 {
    width: 50px;
    display: block;
    float: right;
    text-align: right;
}

.fixed-lbl-for-abm-60 {
    width: 60px;
    display: block;
    float: right;
    text-align: right;
}

.fixed-lbl-for-abm-70 {
    width: 70px;
    display: block;
    float: right;
    text-align: right;
}

.fixed-lbl-for-abm-100 {
    width: 100px;
    display: block;
    float: right;
    text-align: right;
}

.fixed-lbl-for-abm-130 {
    width: 130px;
    display: block;
    float: right;
    text-align: right;
}

/* Estilo general para los controles */
input, select, textarea, button, checkbox, radio {
    border: 1px solid #ccc; /* Borde normal */
    outline: none; /* Eliminar el contorno predeterminado de algunos navegadores */
    transition: all 0.3s ease; /* Transición suave */
}

    /* Estilo cuando el control recibe el foco */
    input:focus, select:focus, textarea:focus, button:focus,
    input[type="radio"]:focus, input[type="checkbox"]:focus {
        border-color: #3a87ad; /* Color de borde sutil pero visible (un azul suave) */
        box-shadow: 0 0 8px rgba(58, 135, 173, 0.5); /* Sombra suave para dar la iluminación */
    }

.mt-1-ctm {
    --bs-card-spacer-y: 0.5rem !important;
    --bs-card-spacer-x: 0.5rem !important;
}
