html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table > tbody > tr > td {
    font-size: 11px !important;
}

table > thead > tr > th {
    font-size: 10px !important;
}

.table-fontsize {
    font-size: 11px !important;
}

.selected-row > td {
    background-color: lightslategray;
    color: black;
}

fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}

.fixed-width {
    width:100px;
}

.fixed-padding-top {
    padding-top: 5px;
}

.fixed-font-size {
    font-size: small;
    width: 96%;
}

.fixed-font-size-xmall {
    font-size: x-small;
    width: 96%;
}

.table-wrapper {
    max-height: 500px;
    max-width: 98%;
    overflow: auto;
}

.table-wrapper-xs {
    max-height: 270px;
    max-width: 98%;
    overflow: auto;
}

.col-header-small {
    text-wrap: pretty;
    font-size: 8px !important;
    font-weight: 900;
}
/*Hide Arrows/Spinners from input type number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .dropdown-menu .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}
/* ============ small devices .end// ============ */
