<!--(Nombre modulo,(NN,url))-->
@model (string,(string,string))
@{
}
<div class="row">
    <div class="d-flex d-inline-flex justify-content-md-between cabeceraBarra01">
        <a asp-action="index" asp-controller="home" asp-area="" class="btn btn-secondary sinbordefondo m-2" style="background-color:transparent !important;border-bottom-style:hidden">GECOPocket</a>

        <span class="textoEncabezado m-3">@Model.Item2.Item1</span>
    </div>
</div>
<div class="row">
    <div class="d-flex d-inline-flex justify-content-md-between cabeceraBarra02">
        <span class="m-3"> @Model.Item1.ToUpper()</span>

        @if (!string.IsNullOrEmpty(Model.Item2.Item2) && !Model.Item2.Item2.Equals("#"))
        {
            <a href="@Model.Item2.Item2" class="btn btn-danger btn-xs sinbordefondo m-2"><icon class="bx bx-left-arrow-alt btn-xs me-1"></icon><span>Volver</span></a>
        }
    </div>
</div>


