<!--(Nombre modulo,(NN,url))-->
@model (string,(string,(string,bool)))
@{
    string a = User.Claims.First(c => c.Type.Contains("AdmId")).Value;
    var adm = a.Split("#");
}
<div class="row">
    <div class="d-flex d-inline-flex justify-content-md-between cabeceraBarra01">
        <a asp-action="index" asp-controller="home" asp-area="" class="btn btn-secondary sinbordefondo m-2" style="background-color:transparent !important;border-bottom-style:hidden">GECOPocket</a>
        <!-- ACA DEBERIA IR SUCURSAL ADMINISTRACION-->
        <span class="m-3">Sucursal @adm[1]</span>

        <span class="textoEncabezado m-3">@Model.Item2.Item1</span>
    </div>
</div>
<div class="row">
    <div class="d-flex d-inline-flex justify-content-md-between cabeceraBarra02">
        <span class="textoEncabezado m-3"> @Model.Item1.ToUpper()</span>

        @if (!string.IsNullOrEmpty(Model.Item2.Item2.Item1) && !Model.Item2.Item2.Item1.Equals("#"))
        {
            if(!Model.Item2.Item2.Item2)//boton especial
            {
                <a href="@Model.Item2.Item2.Item1" class="volverGen btn btn-danger btn-xs sinbordefondo m-2"><i class="bx bx-left-arrow-alt btn-xs me-1"></i><span>Volver</span></a>
            }
            else
            {
                <button type="button" id="btnVolverGen" class="volverGen btn btn-danger btn-xs sinbordefondo m-2"><i class="bx bx-left-arrow-alt btn-xs me-1"></i><span>Volver</span></button>
            }
        }
    </div>
</div>


