<!--(Nombre modulo,(NN,url))-->
@model (string,(string,string))
@{
  }
<div class="row">
    <div class="col-12">
        <div class="card">
            <dir class="card-header" style="background-color:orangered;color:#000">
                <div class="row">
                    <div class="col-6 align-content-start textoEncabezado"><a asp-action="index" asp-controller="home" asp-area="" class="btn btn-secondary" style="background-color:transparent !important;border-bottom-style:hidden">GECOPocket</a> </div>
                    <div class="col-6 align-content-end textoEncabezado">@Model.Item2.Item1</div>
                </div>
            </dir>
            <div class="card-body" style="background-color:orange;color:#000">
                <div class="row">
                    <div class="col-9 align-content-center  textoEncabezado">
                        @Model.Item1.ToUpper()
                    </div>
                    <div class="col-3 align-content-end">
                        @if (!string.IsNullOrEmpty(Model.Item2.Item2) && !Model.Item2.Item2.Equals("#"))
                        {
                            <a href="#" class="btn rounded-pill btn-danger btn-xs"><icon class="bx bx-arrow-back btn-xs"></icon><span class="tf-icon bx bx-arrow-back me-1"></span>Volver</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>