@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var prod = new ProductoDto();
}
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation" id="liTab01">
        <button type="button" id="BtnLiTab01" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navLiTab01" aria-controls="navLiTab01" aria-selected="true">
            Producto
        </button>
    </li>
    <li class="nav-item" role="presentation" id="liTab02">
        <button type="button" id="BtnLiTab02" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navLiTab02" aria-controls="navLiTab02" aria-selected="false" tabindex="-1">
            Barrados
        </button>
    </li>
    <li class="nav-item" role="presentation" id="liTab03">
        <button type="button" id="BtnLiTab03" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navLiTab02" aria-controls="navLiTab02" aria-selected="false" tabindex="-1">
            STK
        </button>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="navLiTab01" role="tabpanel">
      <partial name="_n02panel01Producto" model="prod"/>
    </div>
    <div class="tab-pane fade" id="navLiTab02" role="tabpanel">
        <partial name="_n02panel02Barrados" />
    </div>
    <div class="tab-pane fade" id="navLiTab03" role="tabpanel">
        <partial name="_n02panel03Stk" />
    </div>
</div>