@model string
@{
    
}

<div class="col-md-6">
    <div class="row mt-1">
        <div id="divLimite2"></div>
    </div>
    <div class="row mt-1" id="tab3l1">
        <div class="input-group input-group-sm">
            <span class="input-group-text">Sucursal</span>
            <select id="adm_id" class="form-control">@Model</select>
            @* @Html.DropDownList("adm_id",null,"Seleccionar...",new{@class="form-control", disabled="disabled"}) *@
            <span class="input-group-text">Stk Min</span>
            <input type="number" id="p_stk_min" class="form-control inputEditable limStk" min="0" max="99999" disabled />
            <span class="input-group-text">Stk Max</span>
            <input type="number" id="p_stk_max" class="form-control inputEditable limStk" min="0" max="99999" disabled />
        </div>
    </div>
</div>