@model ProductoBarradoDto
@{
    List<ComboGenDto> lst = new List<ComboGenDto> {
        new ComboGenDto{Id="E",Descripcion="EAN13"},
        new ComboGenDto{Id="D",Descripcion="DUN14"}
};

    var cmb = new SelectList(lst);
}

<div class="col-md-6">
    <div class="row mt-1">
        <div id="divBarrado2"></div>
    </div>
    <div class="row mt-1">
        <div class="input-group input-group-sm">
            <span class="input-group-text">BARRADO</span>
            <input type="text" asp-for="p_id_barrado" class="form-control inputEditable" disabled />
            <span class="input-group-text">Tipo</span>
            @Html.DropDownListFor(x => x.tba_id, cmb, "Seleccionar...", new { @class = "form-control", disabled = "disabled" })

        </div>
    </div>
    <div class="row mt-1">
        <div class="input-group input-group-sm">
            <span class="input-group-text">UxP</span>
            <input type="text" asp-for="p_unidad_pres" class="form-control inputEditable" disabled />
            <span class="input-group-text">UxB</span>
            <input type="text" asp-for="p_unidad_x_bulto" class="form-control inputEditable" disabled />
            <span class="input-group-text">BxP</span>
            <input type="text" asp-for="p_bulto_x_piso" class="form-control inputEditable" disabled />
            <span class="input-group-text">PxP</span>
            <input type="text" asp-for="p_piso_x_pallet" class="form-control inputEditable" disabled />
        </div>
    </div>
</div>