@model UsuarioDto

<!DOCTYPE html>

<html lang="en"
      class="light-style layout-wide customizer-hide"
      dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Registro de Usuario</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/css/extra.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/css/theme-default.css" class="template-customizer-theme-css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/lib/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="~/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="container-xxl" id="formulario" style="display:none">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register Card -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a asp-action="Index" asp-asp-controller="Home" class="app-brand-link gap-2">
                                <span class="app-brand-text demo text-body fw-bold">GECONet</span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2">Lanzandor de registración 🚀</h4>
                        <p class="mb-4">Ingrese sus datos para poderte identificar mejor!</p>

                        <form class="mb-3" asp-action="Registro" asp-controller="seguridad" asp-area="seguridad">
                            <input asp-for="Usu_Expira" value="true" />
                            <input asp-for="Usu_Intentos" value="0" />
                            <input asp-for="Usu_Estalogeado" value="false" />

                            <div class="mb-3">
                                <label asp-for="Usu_Id" class="form-label">Usuario</label>
                                <input type="text" asp-for="Usu_Id" class="form-control" placeholder="Ingrese su usuario" autofocus />
                            </div>

                            <div class="mb-3">
                                <label asp-for="Usu_Apellidoynombre" class="form-label">Apellido y Nombre</label>
                                <input type="text" asp-for="Usu_Apellidoynombre" class="form-control" placeholder="Ingrese su Nombre" />
                            </div>

                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="password">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password"
                                           id="password"
                                           class="form-control"
                                           name="password"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                                    <label class="form-check-label" for="terms-conditions">
                                        I agree to
                                        <a href="javascript:void(0);">privacy policy & terms</a>
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary d-grid w-100">Sign up</button>
                        </form>

                        <p class="text-center">
                            <span>Already have an account?</span>
                            <a href="auth-login-basic.html">
                                <span>Sign in instead</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- Register Card -->
            </div>
        </div>
    </div>

    <!-- / Content -->

    <div class="buy-now">
        <a href="https://themeselection.com/item/sneat-bootstrap-html-admin-template/"
           target="_blank"
           class="btn btn-danger btn-buy-now">Upgrade to Pro</a>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    @* <script src="../assets/js/main.js"></script> *@

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
